/* ==========================================================================
  Responsive stylesheets
========================================================================== */

@import 'variables.scss';
@import 'mixins.scss';


/* ==========================================================================
  Mobile styles
========================================================================== */

@include breakpoint (smartphone) {

    .hide-on-mobile {
        display: none;
    }

    // Navigation
    nav.navigation {
        li {
            margin-left: 0;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    // Homepage


    // About page
    .contact-row {
        h4 {
            width: 50%;
            margin: 30px 0;
            &:last-of-type {
                text-align: right;
            }
        }
    }

    // Projects page
    .half {
        width: 100%;
    }

    .about-page {
        .wrapper {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

     // Project page
     .post {
         display: block;
         padding-top: 60px;
         .text-wrapper {
             height: auto;
             min-height: auto;
             position: relative!important;
             .text-container {
                 .text-block {
                     padding: 50px 0 0!important;
                     margin: 0;
                 }
             }
         }
         .grid-wrapper {
             margin: 0!important;
             float: left;
             width: 100%!important;
             min-height: auto!important;
             position: relative!important;
             display: block!important;
             padding: 50px 10px!important;
             &.multi-asset {
                 columns: 2!important;
             }
             .image-block {
                 width: 100%;
                 box-sizing: border-box;
                 .image-wrap {
                     max-width: 100%!important;
                     video, iframe {
                         width: 100%!important;
                     }
                 }

             }
         }
     }
}

@include breakpoint (wide-browser) {
    .half.left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post.grid .grid-wrapper.multi-asset {
        columns: 5;
    }
}
